

body {
  background-color: white;
  font-family: Arial;
}

.background {
  background-color: powderblue;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  color: black;
  text-align: center;
  padding-top: 20px;
  font-family:'Lobster Two', cursive;
}

h2 {
  text-align: center;
}

.bird {
  text-align: center;
}

p {
  text-align: center;
  font-size:30px;
  font-family:'Poiret One', cursive;
}

button {
  text-align: center;
}

.button {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 75px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  cursor: pointer;
}

.button1 {
    background-color: white;
    color: darkcyan;
    border: 2px solid darkcyan;
}

.button1:hover {
    background-color: darkcyan;
    color: white
}

.button2 {
  background-color: white;
  color: darkcyan;
  border: 2px solid darkcyan;
}

.button2:hover {
  background-color: darkcyan;
  color: white;
}

.button3 {
  background-color: white;
  color: darkcyan;
  border:2px solid darkcyan;
}

.button3:hover {
  background-color: darkcyan;
  color:white;
}

.button4 {
  background-color: white;
  color: darkcyan;
  border:2px solid darkcyan;
}

.button4:hover {
  background-color: darkcyan;
  color:white;
}

.button5 {
  background-color: white;
  color: darkcyan;
  border:2px solid darkcyan;
}

.button5:hover {
  background-color: darkcyan;
  color:white;
}
