


body {
  background-color: whitesmoke;
  font-family: Arial;
}

.background {
  background-color: powderblue;
}


h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: white;
}


h3 {
  text-align: center;
  color: slategray;
  font-weight: normal;
}
